<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="true">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['pages/dashboard']">Freelancer.tn</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/']" class="nav-link waves-light" mdbWavesEffect>Accueil<span class="sr-only">(current)</span></a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Fonctionnement<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbWavesEffect >Comment trouver un prestataire ?</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbWavesEffect >Comment trouver des clients ?</a>
          <a [routerLink]="['/']" class="dropdown-item waves-light" mdbWavesEffect >Consulter l'aide</a>
          <!-- <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']">Separated link</a> -->
        </div>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link waves-light" mdbWavesEffect>Offres</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['pages/homeSeeker']" class="nav-link waves-light" mdbWavesEffect>Mes projets</a>
      </li>

      
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/']" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->