<div>
    <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
  </div>
  <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
    <input type="text" name="username" #username="ngModel" [(ngModel)]="model.username" placeholder="username"  required required minlength="4"
      [ngClass]="{'invalid-textbox' :signInForm.submitted && !username.valid }">
    <div *ngIf="signInForm.submitted && username.errors?.minlength">
      <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
      [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <label class="validation-message">Minimum 4 characters.</label>
    </div>
    <input type="submit" value="Connexion">
  </form>
  <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>



<div> 
  <a routerLink="/signup"> Créer un nouveau compte ? </a>
</div>